*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  .bgimg-1{
    background-image: url(../img/img_parallax.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.65;
}
.bgimg-2{
    background-image: url(../img/img_parallax2.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.65;
}
.bgimg-3{
    background-image: url(../img/img_parallax3.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.65;
}
.caption{
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border{
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.ppp{
    height: 450px;
    color: black;
    background-color: white;
    text-align: justify;
    font-size: 24px;
    padding: 50px 80px;
}
.mmm{
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
    color: #111;
    margin-bottom: 25px;
}
.asdf{
    font-size: 30px;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: 400;
    padding: 30px;
}
.ppp2{
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    /* text-align: justify; */
}
.caption span.border2{
    background-color: transparent;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

footer{
  width: 100%;
  position: absolute;
  /* bottom: -432px; */
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}
.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;
}
.logo{
  width: 80px;
  margin-bottom: 30px;
}
.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li{
  list-style: none;
  margin-bottom: 12px;
}
ul li a{
  text-decoration: none;
  color: #fff;
}

form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form .fa-regular{
  font-size: 18px;
  margin-right: 10px;
}
form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .fa-solid{
  font-size: 16px;
  color: #ccc;
}
.social-icons .fa-brands{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright{
  text-align: center;
}
.underline{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving{
  0%{
      left: -20px;
  }
  100%{
      left: 100%;
  }
}
@media (max-width: 700px){
  footer{
      bottom: unset;
  }
  .col{
      flex-basis: 100%;

  }
  .col:nth-child(2), .col:nth-child(3){
      flex-basis: 100%;
  }
}